<% if model.errors.any? %>
  <div clss="alert alert-waring">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  
<% end %>